ugv-app.log
ugv-jupyter.log
ugv-env/
__pycache__/
controller/__pycache__/
tutorials/tutorial_cn/__pycache__/
tutorials/tutorial_cn/.ipynb_checkpoints/
tutorials/tutorial_cn/12/.ipynb_checkpoints/
tutorials/tutorial_en/__pycache__/
tutorials/tutorial_en/.ipynb_checkpoints/
tutorials/tutorial_en/12/.ipynb_checkpoints
templates/media/pictures/photo*
templates/media/videos/video*