pyserial==3.5
flask==2.2.2
flask_socketio==5.3.6
aiortc==1.8.0
opencv-python==4.9.0.80
opencv-contrib-python==4.9.0.80
imutils==0.5.4
mediapipe==0.10.9
numpy==1.24.2
netifaces==0.11.0
imageio==2.33.1
pygame==2.1.2
pyttsx3==2.7
jupyterlab==4.0.8
jupyterlab-widgets==3.0.9
jupyterlab-pygments==0.2.2
jupyter
protobuf==3.20.3
pyaudio==0.2.14
pyudev==0.24.3
depthai==2.30.0.0
soundfile==0.12.1
ultralytics==8.4.9
matplotlib==3.5.1
pillow==9.0.1
polars==1.37.1
psutil==7.2.1
pyyaml==5.4.1
requests==2.32.5
scipy==1.15.3
torch==2.9.1
torchvision==0.24.1
ultralytics-thop
werkzeug==2.2.2