pyserial==3.5
flask==2.2.2
flask_socketio==5.3.6
aiortc==1.8.0
opencv-contrib-python==4.5.4.60
imutils==0.5.4
mediapipe==0.10.9
numpy==1.24.2
netifaces==0.11.0
imageio==2.33.1
pygame==2.1.2
pyttsx3==2.7
jupyterlab==4.0.8
jupyterlab-widgets==3.0.9
jupyterlab-pygments==0.2.2
jupyter
protobuf==3.20.3
pyaudio==0.2.14
pyudev==0.24.3
depthai==2.30.0.0
soundfile==0.12.1
werkzeug==2.2.2